[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
c7n = "==0.9.1.0"
c7n-org = "*"
c7n-mailer = "*"
c7n-policystream = "*"
# manheim-c7n-tools = "*"
# Issue with pygit2 1.1+
# pygit2 = "==1.0.3"

[dev-packages]
pipenv-to-requirements = "*"

[scripts]
pin = "pipenv_to_requirements -fo requirements.txt"
